<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tracking.life.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        
        <!-- Schema is told to  use google maps -->
        
        <activity android:name="Login" >
            <!-- Activity is set as the main launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="GoogleMapActivity" >
            <intent-filter>
                <action android:name="tracking.life.android.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

    <!-- For google map, internet usage needs to be allowed -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to access location information -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>